<template>
  <div>
    <h1 class="centralizado">{{ titulo }}</h1>

    <ul class="lista-fotos">
      <li class="lista-fotos-item" v-for="foto of user_profile_image_url" v-bind:key="foto.id">

       <div class="painel">
          <h2 class="painel-titulo">{{ foto.user_name}}</h2>
          <div class="painel-corpo">
          <img class="imagem-responsiva" :src="foto.user_profile_image_url">
          </div>
          <h2 class="painel-rodape-seguidores">{{ foto.user_followers_count}}</h2>
          <h2 class="painel-rodape-hashtag">{{ foto.hashtag}}</h2>
      </div> 
        

      </li>
    </ul>
  </div>
</template>

<script>
import Painel from '../shared/painel/Painel.vue';
import ImagemResponsiva from '../shared/imagem-responsiva/ImagemResponsiva.vue';
import Botao from '../shared/botao/Botao.vue';

export default {

  components: {
    'meu-painel' : Painel, 
    'imagem-responsiva': ImagemResponsiva,
    'meu-botao' : Botao
  },

  data() {

    return {
      titulo: 'Top 5 Twitteiros com mais Seguidores', 
      user_profile_image_url: [], 
    }
  },

  computed: {

    
  },

  methods: {

    

  },

  created() {

    this.$http.get('twitter/v1/seguidores/')
      .then(res => res.json())
      .then(fotos => this.user_profile_image_url = fotos, err => console.log(err));
  }
}

</script>

<style>

  .centralizado {

    text-align: center;
  }

  .lista-fotos {
    list-style: none;
  }

  .lista-fotos .lista-fotos-item {

    display: inline-block;
  }

  .filtro {

    display: block;
    width: 100%;
  }

/* estilo do painel */ 

.corpo{
    font-family: Arial, Helvetica, sans-serif;
    width: 96%;
    margin: 0 auto;
    width: 50%;
  }

   .painel {
    padding: 0 auto;
    border: solid 2px grey;
    display: inline-block;
    margin: 5px;
    box-shadow: 5px 5px 10px grey;
    width: 120px;
    height: 100%;
    vertical-align: top;
    text-align: center;
    font-size: small
  }

  .painel .painel-titulo {
    text-align: center;
    border: solid 2px;
    background: dodgerblue;
    margin: 0 0 15px 0;
    padding: 5px;
    text-transform: uppercase;
    font-size: smaller;
  }

  .painel .painel-rodape-seguidores{
    text-align: center;
    margin: 0 0 15px 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: small;
  }

  .painel .painel-rodape-hashtag{
    text-align: center;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-size: small;
  }

</style>
