<template>

  <div>
    <h1 class="centralizado">Pesquisa de Hashtag</h1>
    <h2 class="centralizado"></h2>

    <p v-show="mensagem" class="mensagem">{{ mensagem }}</p>

    <form @submit.prevent="grava()">
      <div class="controle">
        <label for="hashtag">Hashtag</label>
        <select id="hashtag" utocomplete="off" 
          v-model="hashtag.hashtag">
          <option value="#cloud">#cloud</option>
          <option value="#container">#container</option>
          <option value="#devops">#devops</option>
          <option value="#aws">#aws</option>
          <option value="#microservices">#microservices</option>
          <option value="#docker">#docker</option>
          <option value="#openstack">#openstack</option>
          <option value="#automation">#automation</option>
          <option value="#docker">#gcp</option>
          <option value="#docker">#azure</option>
          <option value="#istio">#istio</option>
          <option value="#sre">#sre</option>
        </select>
      </div>
      
      <div class="centralizado">
        <meu-botao rotulo="Pesquisar" tipo="submit"/>
        <router-link to="/"><meu-botao rotulo="Voltar" tipo="button"/></router-link>
      </div>

    </form>
  </div>
</template>

<script>

import ImagemResponsiva from '../shared/imagem-responsiva/ImagemResponsiva.vue'
import Botao from '../shared/botao/Botao.vue';
import Hashtag from '../domain/hashtag/Hashtag';

export default {

  components: {

    'imagem-responsiva': ImagemResponsiva, 
    'meu-botao': Botao
  },

  data(){
      return {
          hashtag : new Hashtag(),
          mensagem : '',
          tag : '',
          body : {
              hashtag : '',
              qtd_tweets : ''
          },
          
      }
  },

  methods : {

      grava(){
          
          this.$http.post('twitter/v1/hashtag', this.hashtag)
               .then(res => res.json())
               .then(x => this.body = x)
               .then(()  => this.mensagem = 'Foram encontrados ' + this.body.qtd_tweets + ' tweets para a ' + this.body.hashtag,
            this.hashtag = new Hashtag(),
     err => {
       console.log(err)
       this.mensagem = 'Não foi Poss[ivel realizar a pesquisa';
     }
     );

      }
  }

}

</script>
<style scoped>

  .centralizado {
    text-align: center;
  }
  .controle {
    font-size: 1.2em;
    margin-bottom: 20px;

  }
  .controle label {
    display: block;
    font-weight: bold;
  }

 .controle label + select, .controle textarea {
    width: 100%;
    font-size: inherit;
    border-radius: 5px
  }

  .centralizado {
    text-align: center;
  }

  .mensagem{
  text-align: center;
  color: darkred  
}

</style>